@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

body{
    position: relative;
    background: #0d1117;
    min-height: 100vh;
}

.bg-res-main{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #7c7c7c96;
    top: 0;
    left: 0;
    z-index: 50;
    display: none;
}

.header-container{
    position: fixed;
    width: 100%;
    z-index: 90;
    background: var(--header-bg-color);
    border-bottom: 1px solid #fff;
    box-shadow: 10px 0px 20px #ffffff8e;
}

.nav-logo-sp{
    margin: 10px 0;
    height: 45px;
    z-index: 105;
}

.login-nav{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    position: relative;
}

.nav-btn-container{
    position: relative;
    display: flex;
    align-items: center;
    z-index: 105;
}

.nav-btn-container > button{
    all: unset;
    box-sizing: border-box;
    cursor: pointer;
}

#nav-ul-container{
    height: 100vh;
    width: 100vw;
    z-index: 100;
    position: absolute;
    color: #c4c4c4;
    left: -100vw;
    top: 0;
    transition: 300ms ease all;
}

#nav-ul-container > div{
    width: 85%;
    height: 100%;
    background: var(--header-bg-color);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.nav-ul{
    height: 100%;
    padding: 75px 0;
    padding-left: 20px;
}

.nav-ul > li{
    list-style: none;
    font-family: 'Work Sans', sans-serif;
    margin: 20px 0;
}

.nav-ul > li > button{
    all: unset;
    font-size: 1.8rem;
    cursor: pointer;
}